html, body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
}


.rob {
  border: 1px solid transparent;
  border-color: green;
  border-radius: 4px;
}

.rob2 {
  border: 1px solid transparent;
  border-color: red;
  border-radius: 4px;
}
.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.levi {
  padding-left: 5px;
  padding-right: 5px;
}

.levi2 {
  margin-left: 150px;
  padding-right: 105px;
}

.zgoraj {
  padding-top: 10px;
}

.zgoraj2 {
  margin-top: 30px;
}
.zgoraj3 {
  margin-top: 62px;
}

.zgoraj4 {
  margin-top: 51px;
}
.zgoraj5{
  margin-top: 24px;
}
.zgoraj6{
  margin-top: 10px;
}
.center{
  text-align: center;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
